/* Réinitialiser les marges et les paddings par défaut pour tous les éléments */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fixer la hauteur de la page et désactiver le défilement */
html, body {
    height: 100%;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #333, #000 50%);
    color: #fff;
    display: flex;
    flex-direction: column;
}

/* Style du header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    width: 100%;
}

.logo {
    font-size: 3em;
    font-weight: bold;
    color: #ff0000;
}

nav a {
    font-size: 1.3em;
    margin-left: 15px;
    text-decoration: none;
    color: #fff;
}

nav a:visited {
    color: #fff;
}

nav a:hover,
nav a:active {
    color: #ff0000;
}

main {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
    background: linear-gradient(to right, #333, #000 50%);
}

.text-content {
    flex: 2;
    margin-left: 270px;
}

.text-content h1, .text-content h2 {
    color: #ff0000;
}

.text-content h1 {
    font-size: 2.5em;
}

.text-content h2 {
    margin-top: 10px;
    font-size: 1.8em;
}

.buttons {
    margin-top: 20px;
}

.buttons button {
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #ff0000;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 1em;
}

.buttons button:hover {
    background-color: #cc0000;
}

.image-content {
    flex: 1;
    display: flex;
}

.image-content img {
    max-width: 100%;
    height: auto;
}

.card-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    width: 85%;
}

.card {
    background-color: #1a1a1a;
    border: 1px solid #2e2e2e;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    height: 450px;
}

.card-image img {
    width: 100%;
    height: 260px;
    object-fit: cover;
}

.card-text {
    text-align: center;
}

.card-text h3 {
    margin: 10px 0;
    font-size: 1.8em;
    color: #ff0000;
}

.card-text p {
    margin: 10px 0;
    font-size: 1em;
}

.button-container {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    width: 100%;
}

.card-text button {
    padding: 10px 20px;
    background-color: #ff0000;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 1em;
}

.card-text button:hover {
    background-color: #333;
}

footer {
    background-color: #2e2e2e;
    padding: 10px;
    text-align: center;
    width: 100%;
}
